
body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

h3,
h3 > a,
.panel-title,
.h3 {
  font-family: NeutralRegular, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 24px !important;
  line-height: 1.2;
  color: #A41034 !important;
}

.harvard--crimson {
  color: #A41034 !important;
}

.selectivity--pink {
  color: #EC4353 !important;
}

.active--pink .active,
.active--pink .irs-bar,
.active--pink .irs-bar-edge,
.active--pink .irs-slider,
.active--pink .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ec4353 !important;
  border-color: #ec4353 !important;
}

.irs {
  max-width: 350px;
}
.similarity--green {
  color: #00AC9F !important;
}

.similarity--green.btn {
  background-color: #00ac9f !important;
  color: white !important;
}

.active--green .active,
.active--green .irs-bar,
.active--green .irs-bar-edge,
.active--green .irs-slider,
.active--green .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00ac9f !important;
  border-color: #00ac9f !important;
}

.library--orange {
  color: #ff9800 !important;
}

.active--orange .active,
.active--orange .irs-bar,
.active--orange .irs-bar-edge,
.active--orange .irs-slider,
.active--orange .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff9800 !important;
  border-color: #ff9800 !important;
}

.navbar .nav-link {
  color: white !important;
  border-radius: 0 !important;
}

.navbar .active {
  background-color: #A41034 !important;
}

.navbar .active i {
  color: white !important;
}

a[data-target] {
  cursor: pointer;
}

/* Fix display of selectize input labels without text */
.shiny-label-null {
  display: inline;
}

/* CSS for compound selector */
.compound_result {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.compound_source {
  border-radius: 5px;
  display: inline-block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  vertical-align: middle;
}

.chembl_source {
  background-color: rgb(9, 151, 155);
  color: rgb(255, 255, 255);
}

.hmsl_source {
  background-color: rgb(255, 205, 20);
}

.vendor_source {
  background-color: rgb(255, 149, 99);
}

.source_logo {
  height: 1em;
}

/* Make table padding tighter */
table.dataTable tbody th,
table.dataTable tbody td {
  white-space: nowrap;
}

table.dataTable thead th {
  padding: 8px 10px;
  padding-right: 18px;
}

/* Hover shadows for application links */
#link_selectivity:hover {
  filter: drop-shadow(0 0 0.5rem #EC4353);
}

#link_similarity:hover {
  filter: drop-shadow(0 0 0.5rem #00AC9F);
}

#link_library:hover {
  filter: drop-shadow(0 0 0.5rem #ff9800);
}


.panel-title > a[aria-expanded="true"] > i,
.panel-title > a[class=""] > i {
  transform: rotate(90deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.panel-title > a[aria-expanded="false"] > i,
.panel-title > .collapse > i {
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


.kinome-tree{
  margin-top: 50px;
  width: 700px;
}

.include-missing-checkbox {
  margin-bottom: 1rem;
}

 h3,
  h3 > a,
  .panel-title,
  .h3 {
    white-space: nowrap;
    font-size: 21px !important;
    margin-bottom: 1rem;
  }

  
 .well > h2 {
    margin-bottom: 1.2rem !important;
    font-weight: bold;
  }
  
  .well > h2.mt-5, h2.my-5 {
    margin-top: 2rem !important;
  }
  
  #filters_ui_1-reset_all, #filters_ui_1-collapse_all {
  background-color: #A41034;
  border: 1px solid #A41034;
  color: #fff;
  transition: .05s;
  margin-top: 15px;
  font-size: 0.9em;
  
}
filters_ui_1-collapse-all
#filters_ui_1-reset_all:hover, #filters_ui_1-collapse_all:hover{
  filter: brightness(75%);
}

.btn-group-toggle.active-crimson .btn:not(:disabled):not(.disabled).active,
.btn-group-toggle.active-crimson .btn:not(:disabled):not(.disabled):active,
.show > .btn-group-toggle.active-crimson .btn.dropdown-toggle {
  color: #fff;
  background-color: #A41034;
  border-color: #ea1c0d;
}
.btn-group-toggle.active-crimson .btn:not(:disabled):not(.disabled).active.focus,
.btn-group-toggle.active-crimson .btn:not(:disabled):not(.disabled).active:focus,
.btn-group-toggle.active-crimson .btn:not(:disabled):not(.disabled):active.focus,
.btn-group-toggle.active-crimson .btn:not(:disabled):not(.disabled):active:focus,
.show > .btn-group-toggle.active-crimson .btn.dropdown-toggle.focus,
.show > .btn-group-toggle.active-crimson .btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 95, 84, 0.5);
}

.active-crimson
  .custom-checkbox
  .custom-control-input:checked
  ~ .custom-control-label::before,
.active-crimson
  .custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #A41034;
  border-color: #A41034;
  box-shadow: inset 0 1px 1px rgba(244, 67, 54, 0.75);
}
.active-crimson
  .custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #A41034;
  border-color: #A41034;
}

.nav-tabs.active-crimson .active {
  color: #fff;
  background-color: #A41034;
  border-color: #A41034 #A41034 #212529;
}

.nav-pills.active-crimson .active {
  color: #fff;
  background-color: #A41034;
}

.list-group.active-crimson .active {
  color: #fff;
  background-color: #A41034;
  border-color: #A41034;
}

.active-crimson .chip {
  color: #fff;
  background-color: #A41034;
}
.active-crimson .chip:focus,
.active-crimson .chip:hover {
  color: #fff;
  background-color: #ea1c0d;
}
.active-crimson .chip.focus,
.active-crimson .chip:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.5);
}
.active-crimson .chip.disabled,
.active-crimson .chip:disabled {
  color: #fff;
  background-color: #A41034;
}

.js-irs-0 .irs-min, .js-irs-0 .irs-max, .js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {background: #A41034}

.js-irs-0 .irs-min, .js-irs-0 .irs-single, .js-irs-0 .irs-max{color: white}

.js-irs-1 .irs-min, .js-irs-1 .irs-max, .js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {background: #A41034}

.js-irs-1 .irs-min, .js-irs-1 .irs-single, .js-irs-1 .irs-max{color: white}

